<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
    Get Help on the Ruby Tutorial at the
    <a href="http://www.railstutorial.org/help">Railts Tutorial Help page</a>.
    To get help on this sample page, see the
    <a href="http://www.railstutorial.org/books"><em>Ruby on Rails Tutorial</em> book</a>.
</p>